<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginpage.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1" id="login-box-two">
                    <h3>Change Data</h3>

                    <form method="post" action="change_data">

                        <div class="form-group">

                            <input type="text" id="attribut" name="attribut" class="form-control" placeholder="Attribut *" required/>
                            <div class="{{style}}" role="alert">{{fail_attribut}}</div>
                            <input type="text" id="value" name="value" class="form-control" placeholder="New Value *" required/>

                            <div class="form-group" id="create-button">
                            <button type="submit" class="btnSubmit">Change Data</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
</div>
</body>
</html>